/* start-colors */
/* white */
$color-white: #ffffff;

/* black */
$black-color: #181818;

/* gray */

$gray-color-1: #dcdcdc;
$gray-color-2: #E7E7E7;
$gray-color-3: #778899;
$gray-color-4: #AEAEAE;

/* blue-color */

$blue-color-1: #1e90ff;

/* end-colors */

/* scrollbar */
$scrollbar-width: 6rem;
$scrollbar-radius: 8rem;

/* header */
$header-height: 54rem;

/* fonts */
$main-font: PTSans, Arial, sans-serif, Verdana;

/* tasks */
$task-column-width: 200rem;
$padding: 8rem;
$mini-padding: 5rem;
